@if (loading) {
  <div class="container d-flex align-items-center justify-content-center mt-5 pt-5">
    <mat-spinner></mat-spinner>
  </div>
  <div class="container d-flex align-items-center justify-content-center mt-5 pt-5">
    <h3 class="fw-light">Cargando productos...</h3>
  </div>
} @else if (loadError) {
  <div class="container d-flex align-items-center justify-content-center mt-5 pt-5">
    <div class="row text-center">
      <i class="bi bi-exclamation-triangle-fill text-danger" style="font-size: 120px"></i>
      <span class="fs-4 text-dark fw-lighter">Ups! Error en la carga de productos. Intente nuevamente.</span>
    </div>
  </div>
} @else if (searchFailed) {
  <div class="container d-flex align-items-center justify-content-center mt-5 pt-5">
    <div class="row text-center">
      <i class="bi bi-database-exclamation text-dark" style="font-size: 120px"></i>
      <span class="fs-4 text-dark fw-lighter">Ups! No se encontraron productos con el criterio ingresado.</span>
      <span class="fs-4 text-primary fw-bold mt-2 text-decoration-underline" (click)="reloadPage()">Volver</span>
    </div>
  </div>
} @else if (!loading && !loadError && !searchFailed) {
  <div class="container mt-4">
    <form [formGroup]="searchForm" (ngSubmit)="searchProducts()" class="row text-end">
      <table>
        <tr>
          <mat-form-field class="form-field mb-2 me-2" appearance="outline">
            <mat-label>Tipo de Busqueda</mat-label>
            <mat-select formControlName="searchType">
              @for (sm of SEARCH_MODES; track sm; let index = $index) {
                <mat-option [value]="index">{{ sm }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-field mb-2 me-2" appearance="outline" [hidden]="suppliersHidden">
            <mat-label>Proveedor</mat-label>
            <mat-select formControlName="selectedSupplier">
              @for (s of suppliers; track s) {
                <mat-option [value]="s.id">{{ s.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-field mb-2 me-2" appearance="outline" [hidden]="unitTypesHidden">
            <mat-label>Presentación</mat-label>
            <mat-select formControlName="selectedUnitType">
              @for (u of unitTypes; track u) {
                <mat-option [value]="u.id">{{ u.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>


          <mat-form-field class="me-2" appearance="outline" [hidden]="keywordHidden">
            <mat-label>Criterio</mat-label>
            <input type="text" matInput formControlName="keyword"
                   (keydown)="handleKeywordKeydown($event,searchForm.value.searchType!!)">
          </mat-form-field>
          <button mat-flat-button class="bg-success bg-gradient me-1" type="submit" [disabled]="searchForm.invalid">
            <mat-icon>search</mat-icon>
            BUSCAR
          </button>
          <button mat-flat-button class="bg-primary bg-gradient" type="button" (click)="reloadPage()">
            <mat-icon>restart_alt</mat-icon>
            RESETEAR
          </button>
        </tr>
      </table>
    </form>
  </div>

  <div class="mt-1">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let p"> {{ p.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> NOMBRE</th>
        <td mat-cell *matCellDef="let p"> {{ p.name }}</td>
      </ng-container>

      <ng-container matColumnDef="buy_price">
        <th mat-header-cell *matHeaderCellDef>PRECIO COMPRA</th>
        <td mat-cell *matCellDef="let p" class="text-danger fw-bold">{{ p.buy_price }}</td>
      </ng-container>

      <ng-container matColumnDef="sell_price">
        <th mat-header-cell *matHeaderCellDef>PRECIO VENTA</th>
        <td mat-cell *matCellDef="let p" class="text-success fw-bold">{{ p.sell_price }}</td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef>STOCK</th>
        <td mat-cell *matCellDef="let p">{{ p.stock }}</td>
      </ng-container>

      <ng-container matColumnDef="unit_type">
        <th mat-header-cell *matHeaderCellDef>PRESENTACIÓN</th>
        <td mat-cell *matCellDef="let p">{{ p.unit_type.name }}</td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef>PROVEEDOR</th>
        <td mat-cell *matCellDef="let p">{{ p.supplier.name }}</td>
      </ng-container>

      <ng-container matColumnDef="toolbox">
        <th mat-header-cell *matHeaderCellDef class="text-dark fw-bold"></th>
        <td mat-cell *matCellDef="let p">
          <ng-container>
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-success bg-gradient btn-sm" routerLink="/d/edit-product/{{p.id}}"><i class="bi bi-pencil-square"></i>
              </button>
              <button type="button" class="btn btn-danger bg-gradient btn-sm" (click)="showDeleteDialog(p)" [disabled]="authService.getUserData().role === 'VENDEDOR'"><i
                class="bi bi-trash-fill"></i></button>
              <button type="button" class="btn btn-info bg-gradient btn-sm" (click)="showProductDetail(p)"><i
                class="bi bi-info-square"></i></button>
            </div>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="row mt-3" [hidden]="hidePagination">
      <div class="col text-end">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary bg-gradient" (click)="prevPage()" [disabled]="isFirstPage()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button type="button" class="btn btn-primary bg-gradient" (click)="currentPage = 1; fetchProducts()">
            Página {{ currentPage }} de {{ lastPage }}
          </button>
          <button type="button" class="btn btn-primary bg-gradient" (click)="nextPage()" [disabled]="isLastPage()">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
}
