<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="card border-primary">
      <div class="card-header bg-primary text-white text-center fw-bold">
        <i class="bi bi-person-bounding-box"></i> NUEVO CLIENTE
      </div>
      <div class="card-body">
        <form [formGroup]="newCustomerForm" (ngSubmit)="onSubmit()">
          <div class="row ms-3 me-3">
            <mat-form-field class="form-field mb-2" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input type="text" matInput formControlName="name"/>
              @if (newCustomerForm.get('name')?.hasError('required')) {
                <mat-error>Debe ingresar un nombre.</mat-error>
              }
              @if (newCustomerForm.get('name')?.hasError('minlength') || newCustomerForm.get('name')?.hasError('maxlength')) {
                <mat-error>El nombre debe tener entre 3 y 30 carácteres.</mat-error>
              }
              @if (newCustomerForm.get('name')?.hasError('pattern')) {
                <mat-error>El nombre debe tener el formato correcto.</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="row ms-3 me-3">
            <mat-form-field class="form-field mb-2" appearance="outline">
              <mat-label>Apellido</mat-label>
              <input type="text" matInput formControlName="surname"/>
              @if (newCustomerForm.get('surname')?.hasError('required')) {
                <mat-error>Debe ingresar un apellido.</mat-error>
              }
              @if (newCustomerForm.get('surname')?.hasError('minlength') || newCustomerForm.get('surname')?.hasError('maxlength')) {
                <mat-error>El apellido debe tener entre 3 y 30 carácteres.</mat-error>
              }
              @if (newCustomerForm.get('surname')?.hasError('pattern')) {
                <mat-error>El apellido debe tener el formato correcto.</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="row ms-3 me-3">
            <mat-form-field class="form-field mb-2" appearance="outline">
              <mat-label>DNI</mat-label>
              <input type="text" matInput formControlName="dni" (keydown)="integersOnly($event)"/>
              @if (newCustomerForm.get('dni')?.hasError('required')) {
                <mat-error>Debe ingresar un DNI.</mat-error>
              }
              @if (newCustomerForm.get('dni')?.hasError('minlength') || newCustomerForm.get('dni')?.hasError('maxlength')) {
                <mat-error>El DNI debe tener 8 carácteres..</mat-error>
              }
              @if (newCustomerForm.get('dni')?.hasError('pattern')) {
                <mat-error>El DNI debe tener el formato correcto.</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="row ms-3 me-3">
            <mat-form-field class="form-field mb-2" appearance="outline">
              <mat-label>Dirección</mat-label>
              <input type="text" matInput formControlName="address"/>
              @if (newCustomerForm.get('address')?.hasError('maxlength')) {
                <mat-error>La dirección debe tener maximo 100 carácteres.</mat-error>
              }
              @if (newCustomerForm.get('address')?.hasError('pattern')) {
                <mat-error>La dirección no permite los carácteres " y '.</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="row ms-3 me-3">
            <mat-form-field class="form-field mb-2" appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input type="text" matInput formControlName="phone" (keydown)="integersOnly($event)"/>
              @if (newCustomerForm.get('phone')?.hasError('minlength') || newCustomerForm.get('phone')?.hasError('maxlength')) {
                <mat-error>El teléfono debe tener entre 6 y 15 carácteres.</mat-error>
              }
              @if (newCustomerForm.get('phone')?.hasError('pattern')) {
                <mat-error>El teléfono debe tener el formato correcto.</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="row ms-3 me-3">
            <mat-form-field class="form-field mb-2" appearance="outline">
              <mat-label>E-Mail</mat-label>
              <input type="email" matInput formControlName="email"/>
              @if (newCustomerForm.get('email')?.hasError('maxlength')) {
                <mat-error>El e-mail debe tener máximo 50 carácteres.</mat-error>
              }
              @if (newCustomerForm.get('email')?.hasError('email')) {
                <mat-error>El e-mail debe tener el formato EMAIL&#64;DOMINIO.COM.</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="row text-center ms-3 me-3 mt-3">
            <div class="col">
              <button mat-fab extended class="me-2 bg-danger bg-gradient text-white"
                      type="button" (click)="this.location.back()">
                <mat-icon>cancel</mat-icon>
                Cancelar
              </button>
              <button mat-fab extended class="me-2 bg-primary bg-gradient text-white" type="button"
                      (click)="this.newCustomerForm.reset()">
                <mat-icon>restart_alt</mat-icon>
                Limpiar
              </button>

              <button mat-fab extended class="bg-success bg-gradient text-white" [disabled]="newCustomerForm.invalid"
                      type="submit">
                <mat-icon>save</mat-icon>
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>
