<nav class="py-2 border-bottom border-dark" style="background-color: #6A8795">
  <div class="d-flex flex-wrap ms-3 me-3">
    <div class="nav">
      <button mat-button class="text-dark" routerLink="/d/sell-products">
        <mat-icon>receipt_long</mat-icon>
        Nueva Venta
      </button>
    </div>

    <div class="nav">
      <button mat-button [matMenuTriggerFor]="voucherMenu" class="text-dark">
        <mat-icon>receipt_long</mat-icon>
        Comprobantes
      </button>
      <mat-menu #voucherMenu="matMenu">
        <button mat-menu-item routerLink="/d/voucher"><mat-icon>view_list</mat-icon>Listado</button>
      </mat-menu>
    </div>

    <div class="nav">
      <button mat-button [matMenuTriggerFor]="customerMenu" class="text-dark">
        <mat-icon>groups</mat-icon>
        Clientes
      </button>
      <mat-menu #customerMenu="matMenu">
        <button mat-menu-item routerLink="/d/new-customer">
          <mat-icon>add_circle</mat-icon>
          Nuevo
        </button>
        <button mat-menu-item routerLink="/d/customer">
          <mat-icon>view_list</mat-icon>
          Listado
        </button>
      </mat-menu>
    </div>

    <div class="nav">
      <button mat-button [matMenuTriggerFor]="productMenu" class="text-dark">
        <mat-icon>inventory</mat-icon>
        Productos
      </button>
      <mat-menu #productMenu="matMenu">
        <button mat-menu-item routerLink="/d/new-product">
          <mat-icon>add_circle</mat-icon>
          Nuevo
        </button>
        <button mat-menu-item routerLink="/d/product">
          <mat-icon>view_list</mat-icon>
          Listado
        </button>
      </mat-menu>
    </div>

    <div class="nav">
      <button mat-button [matMenuTriggerFor]="supplierMenu" class="text-dark">
        <mat-icon>domain_add</mat-icon>
        Proveedores
      </button>
      <mat-menu #supplierMenu="matMenu">
        <button mat-menu-item routerLink="/d/new-supplier">
          <mat-icon>add_circle</mat-icon>
          Nuevo
        </button>
        <button mat-menu-item routerLink="/d/supplier">
          <mat-icon>view_list</mat-icon>
          Listado
        </button>
      </mat-menu>
    </div>

    <div class="nav me-auto">
      <button mat-button [matMenuTriggerFor]="toolsMenu" class="text-dark">
        <mat-icon>tune</mat-icon>
        Varios
      </button>
      <mat-menu #toolsMenu="matMenu">
        <button mat-menu-item routerLink="/d/unit-type-mgmt">
          <mat-icon>handyman</mat-icon>
          Presentaciones
        </button>
      </mat-menu>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="userMenu" class="text-dark">
        <mat-icon class="text-dark">account_circle</mat-icon>
        <span class="text-dark">{{ authService.getUserData().username }}</span>
        <mat-icon class="text-dark">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/d/profile">
          <mat-icon>person</mat-icon>
          <span>Mi Cuenta</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Configuración</span>
        </button>
        <button mat-menu-item (click)="authService.logout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
